<template>
  <div class="tableta container">

<button class="btn btn-primary mb-4" @click="consumirApi">Cargar</button>




<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Minutes to check</th>
      <th scope="col">Show</th>
      <th scope="col">City</th>
      <th scope="col">id</th>
      <th scope="col">Date</th>
      <th scope="col">Last Check</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><p v-for="(orden, index) in showName" :key="index"> {{orden.count}} </p></th>
      <td><p v-for="(nombre_show, index) in showName" :key="index"> {{nombre_show.show_name}} </p></td>
      <td><p v-for="(ciudad, index) in showName" :key="index"> {{ciudad.city}} </p></td>
      <td><p v-for="(ide, index) in showName" :key="index"> {{ide.id}} </p></td>
      <td><p v-for="(fecha, index) in showName" :key="index"> {{fecha.date}} </p></td>
      <td><p v-for="(ultimo_check, index) in showName" :key="index"> {{ultimo_check.last_check}} </p></td>
      <td>Details</td>
    </tr>
    
  </tbody>
</table>


    
  </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'Tablet',
  data: function(){
      return {
          user: 'hola',
          showName: [],
          apiOrdenada: []
      }
  },
  props: {
   
  },
  methods: {
      consumirApi: function () {
          var url = "http://35.239.218.180:8000/api/autocheck/";
      axios.get(url).then(response =>{
              //  console.log(response.data);
                this.showName = response.data;
                
                this.showName.sort((a, b)=>{
                return a.count - b.count;
                }); 
      
      
            });
         
      }
     
      
  }
}
</script>


