<template>
  <div id="app">

    
    <Tablet></Tablet>


  </div>
</template>

<script>

import Tablet from './components/Tablet.vue'

export default {
  name: 'App',
  components: {
    
    Tablet
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
